body {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex-basis: ((100% - 24px) / 3);
  list-style: none;
  max-width: 90%;
  justify-content: center;
  align-items: center;
}
.gallery-item {
  max-width: 360px;
  max-height: 300px;
}
